body{
  background-color: #FFF;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body,
th,
p,
td,
input,
textarea,
select,
option,
span
{
	margin-left: 0;
	font-size: 13px; 
	font-family: Arial, Tahoma, Geneva, Helvetica, sans-serif;
	font-style: normal;
}
table{
	border-collapse:collapse;padding:0px;margin:0px;
}
img, a{
  border: 0;
  outline: none;
}
h1,
h2,
h3,
h4,
ul{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
ul li{
  list-style: none;
  padding-left: 0;
}
h4{
  font-size: 14px;
  color: #016d40;
}
h3{
  font-size: 16px;
  color: #016d40;
}
h2{
  font-size: 18px;
  color: #E54E35;
}
h1{
  font-size: 26px;
  color: #292929;
}
input[type="button"],
input[type="submit"],
input[type="reset"]{
  cursor: pointer;
}
input[type="text"]{
  font-size: 12px;
}
a, a:active{
  outline: none;
  color: #000;
}

div#header {
background: url("../../../img/header.jpg") no-repeat;
height: 190px;
width: 1014px;
margin: 0 auto;
border-radius: 3px;
}
div#header  div#midHeader{
background: url("../../../img/snow.png") no-repeat 63px 8px;
width: 1014px;
margin: 0 auto;
height: 275px;
}
div#header  div#midHeader div#logoHeader{
margin: 6px 0 0 11px;
float: left;
}
div#header  div#midHeader div#work{
background: url("../../../img/clock.png") 1px 3px no-repeat;
margin: 17px 0 0 123px;
padding-left: 55px;
float: left;
height: 124px;
}
div#header  div#midHeader div#work span#modeWork{
color: #686868;
font-size: 13.93px;
}
div#header  div#midHeader div#work span#valueMode{
color: #2B2723;
font-size: 15.67px;
font-weight: bold;
}
div#header  div#midHeader div#work span#official{
display: block;
background: url("../../../img/oficial.png") 12px 0 no-repeat;
width: 430px;
height: 28px;
position: relative;
right: 130px;
top: 20px;
}
div#header  div#midHeader div#work span#official span#cap{
position: absolute;
width: 28px;
height: 38px;
background: url("../../../img/cap.png") no-repeat;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
div#header  div#midHeader div#work div#contacts{
position: relative;
left: 320px;
bottom: 84px;
padding-left: 46px;
background: url("../../../img/phone.png") no-repeat;
}
div#header  div#midHeader div#work span#modeContacts{
color: #676767;
font-size: 13.93px;
}
div#header  div#midHeader div#work span#phoneHeader{
color: #2B2723;
font-size: 24.37px;
font-weight: bold;
text-transform: uppercase;
}
div#header  div#midHeader div#navigation{
clear: both;
height: 44px;
position: relative;
}
div#header  div#midHeader div#navigation div#popup{
position: absolute;
width: 653px;
background-color: #394153;
top: 43px;
opacity: 0.9;
z-index: 5;
padding-left: 53px !important;
padding-top: 30px !important;
padding-bottom: 30px !important;
display: none;
}
div#header  div#midHeader div#navigation img.popup_active_img  {
position: absolute;
left: 38%;
top: 97%;
display: none;
}
div#header  div#midHeader div#navigation a#home{
background: url("../../../img/home.png") no-repeat;
width: 19px;
height: 19px;
margin-top: 10px;
float: left;
}
div#header  div#midHeader div#navigation ul#menu {
display: inline-block;
margin-top: -1px;
}
div#header  div#midHeader div#navigation ul#menu li{
display: inline-block;
margin-right: -5px;
position: relative;
padding-top: 3px;
}
div#header  div#midHeader div#navigation ul#menu li:nth-child(-n+8){
background: url("../../../img/menu_line.png") no-repeat 0 50%;
}
div#header  div#midHeader div#navigation ul#menu li a{
text-decoration: none;
padding: 11px 8px;
display: inline-block;
font-size: 16px;
position: relative;
bottom: 2px;
color: #FFF;
text-shadow: 1px 1px 0 #000;
}
div#header  div#midHeader div#navigation ul#menu li:first-child a{
padding-left: 12px;
}
div#header  div#midHeader div#navigation ul#menu li:first-child{
background-image: none;
}
div#header  div#midHeader div#navigation ul#menu li span{
font-size: 16px;
color: #FFF;
background-color: #3A4256;
background-image: none;
padding: 12px;
position: relative;
bottom: 2px;
text-shadow: 1px 1px 0 #000;
}
div#header  div#midHeader div#navigation ul#menu li a:hover{
background: #3A4256;
}
div#header  div#midHeader div#navigation span#cart{
background: url("../../../img/card.png") no-repeat;
width: 130px;
height: 33px;
position: relative;
display: inline-block;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
bottom: 9px;
right: 3px;
padding-top: 1px;
margin-left: 14px;
color: #FFF;
font-size: 14px;
}
div#header  div#midHeader div#navigation span#cart a{
background: url("../../../img/icoCard.png") no-repeat;
margin-left: 20px;
padding-left: 40px;
padding-bottom: 5px;
color: #FFF;
font-size: 14px;
position: relative;
top: 7px;
}
div#content{
margin: 0 auto;
margin-top: 7px;
background-color: #FFF;
width: 1014px;
overflow: hidden;
margin-bottom: 58px;
}
div#content div#first div#hits{
width: 222px;
float: left;
margin-top: 15px;
position: relative;
}
div#content div#first div#hits span#icoHits{
display: block;
background: url("../../../img/hits.png") no-repeat;
width: 66px;
height: 59px;
position: absolute;
z-index: 2;
bottom: -23px;
left: 125px;
}
div#content div#first div#hits span#caption{
display: block;
position: relative;
}
div#content div#first div#hits span#caption span{
color: #C1372D;
font-size: 16px;
}
div#content div#first div#hits div.img{
width: 74px;
height: 57px;
text-align: center;
float: left;
}
div#content div#first div#hits div.img img{
position: relative;
bottom: 1px;
}
div#content div#first div#hits div.info_hit{
position: relative;
width: 186px;
left: 17px;
}
div#content div#first div#hits a.name{
text-transform: uppercase;
color: #292929;
font-size: 11px;
}
div#content div#first div#hits span.cost{
color: #5F5F5F;
font-size: 14px;
text-decoration: line-through;
}
div#content div#first div#hits span.stock{
color: #C1372D;
font-size: 18px;
font-weight: bold;
}
div#content div#first div#hits span.lineHits{
display: block;
clear: both;
width: 194px;
height: 2px;
margin-top: 3px;
margin-bottom: 15px;
background: url("../../../img/lineHits.png") no-repeat;
}
div#content div#first div#anner{
width: 570px;
float: left;
margin-top: 25px;
}
div#reviews{
float: right;
background: url("../../../img/reviews.png") no-repeat;
position: relative;
top: 8px;
width: 211px;
height: 300px;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
}
div#reviews div#block{
margin: 19px 15px 0 21px;
}
div#reviews div#block span#modRev{
display: block;
color: #292929;
font-weight: bold;
font-size: 16px;
margin-bottom: 20px;
}
div#reviews div#block span#modRev span#lineRev{
background: url("../../../img/lineRev.png") no-repeat;
display: block;
width: 176px;
height: 2px;
}
div#reviews div#block span#name{
color: #525050;
font-size: 14px;
display: block;
}
div#reviews div#block span#dess{
color: #292929;
font-size: 13px;
display: block;
margin: 7px 0;
}
div#reviews div#block span#next{
color: #C1372D;
font-size: 14px;
display: block;
}
div#reviews div#block span#abutton{
display: block;
width: 110px;
height: 34px;
margin: 5px 0 9px 0;
padding: 9px 0 0;
position: relative;
right: 3px;
top: 8px;
background: url("../../../img/abutton.png") no-repeat;
}
div#reviews div#block span#abutton a{
cursor: pointer;
color: #FFF;
font-weight: bold;
font-size: 12.83px;
padding: 6px 15px 8px;
text-decoration: none;
}
div#content div#second{
clear: both;
padding-top: 13px;
}
div#content div#second div.products{
background: url("../../../img/productHead.png") 9px 0 no-repeat;
width: 336px;
float: left;
}
div#content div#second div.products:first-child{
background: url("../../../img/productHead.png") no-repeat;
}
div#content div#second div.products:last-child{
background: url("../../../img/productHead.png") 19px 0 no-repeat;
}
div#content div#second div.products span.productHead{
display: block;
position: relative;
}
div#content div#second div.products span.productHead span.h{
float: left;
color: #292929;
font-size: 16px;
width: 159px;
margin: 15px 0 0 85px;
}
div#content div#second div.products:first-child span.productHead span.h{
margin: 15px 0 0 76px;
}
div#content div#second div.products:last-child span.productHead span.h{
float: left;
color: #292929;
font-size: 16px;
width: 159px;
margin: 15px 0 0 95px;
}
div#content div#second div.products span.productHead span.hbutton{
float: right;
width: 58px;
height: 38px;
position: relative;
margin: 15px 8px 0 0;
text-align: center;
}
div#content div#second div.products:first-child span.productHead span.hbutton{
margin: 15px 13px 0 0;
}
div#content div#second div.products:last-child span.productHead span.hbutton{
margin: 15px -2px 0 0;
}
div#content div#second div.products span.productHead span.hbutton:hover a{
color: #BF352C;
}
div#content div#second div.products span.productHead span.hbutton a{
cursor: pointer;
color: #2C3345;
font-size: 12px;
}
div#content div#second div.products span.productHead span.ico{
position: absolute;
left: 4px;
top: 3px;
}
div#content div#second div.products span.productHead span#ico1{
width: 51px;
height: 48px;
background: url("../../../img/build.png") no-repeat;
}
div#content div#second div.products span.productHead span#ico2{
width: 61px;
left: 13px;
height: 50px;
background: url("../../../img/kirpich.png") no-repeat;
}
div#content div#second div.products span.productHead span#ico3{
top: 11px;
width: 54px;
left: 23px;
height: 40px;
background: url("../../../img/ipereg.png") no-repeat;
}
div#content div#second div.products div.product{
}
div#content div#second div.products div.product span.img{
clear: both;
padding: 27px 0 0 19px;
width: 110px;
height: 84px;
float: left;
}
div#content div#second div.products div.product div.dess{
clear: right;
padding: 32px 0 0 0;
position: relative;
}
div#content div#second div.products div.product div.dess a.name{
color: #59678F;
font-size: 13px;
display: block;
margin-bottom: 8px;
}
div#content div#second div.products div.product div.dess span.cost{
color: #000;
font-size: 13px;
display: block;
margin: -4px 0 4px;
padding-bottom: 8px;
padding-top: 4px;
}
div#content div#second div.products div.product div.dess span.cost span{
color: #656B6D;
font-size: 18px;
text-decoration: line-through;
}
div#content div#second div.products div.product div.dess span.cbutton{
width: 82px;
height: 34px;
position: relative;
background: url("../../../img/cbutton.png") no-repeat;
text-align: center;
padding: 11px 0;
right: 3px;
}
div#content div#second div.products div.product div.dess span.cbutton a{
cursor: pointer;
color: #FFF;
text-decoration: none;
font-weight: bold;
font-size: 12.83px;
position: relative;
bottom: 1px;
padding: 6px 19.5px 7px;
}
div#content div#second div.products div.product div.dess span.stock{
color: #C1392F;
font-weight: bold;
font-size: 18px;
margin-left: 4px;
}
div#content div#third{
clear: left;
padding-top: 46px;
}
div#content div#third span#caption{
display: block;
color: #292929;
font-size: 26px;
font-weight: bold;
}
div#content div#third span#caption span{
display: block;
background: url("../../../img/line.png") no-repeat;
width: 100%;
height: 1px;
margin-bottom: 11px;
}
div#content div#third div.company{
width: 253px;
float: left;
background: url("../../../img/company.png") no-repeat;
margin-bottom: 26px;
min-height: 328px;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
}
div#content div#third div.company div.card{
padding: 27px 0 0 15px;
}
div#content div#third div.company div.card div.block_imgs{
min-height: 135px;
}
div#content div#third div.company div.card span.block_img{
display: block;
min-height: 47px;
}
div#content div#third div.company div.card img{
display: block;
}
div#content div#third div.company div.card img.img{
float: left;
margin: 12px 7px 0 0;
}
div#content div#third div.company div.card span.prev{
display: block;
clear: both;
min-height: 96px;
width: 221px;
}
div#content div#third div.company div.card span.buttonCompany{
width: 127px;
height: 29px;
display: block;
position: relative;
background: url("../../../img/buttonCompany.png") no-repeat;
text-align: center;
padding-top: 7px;
right: 2px;
margin: 13px 0 0;
}
div#content div#third div.company div.card span.buttonCompany a{
cursor: pointer;
color: #FFF;
text-decoration: none;
font-weight: bold;
font-size: 12.83px;
position: relative;
padding: 3px 17px 5px;
border-radius: 3px;
}
div#content div#goods{
width: 800px;
}
div#content div#goods > hr{
color: #585858;
height: 1px;
width: 781px;
text-align: left; /* для ie */
margin: 0 auto 0 0;
}
div#content div#goods div#cont_menu{
height: 32px;
margin-top: 5px;
width: 97%;
}
div#content div#goods div#cont_menu ul.cont_menu{

}
div#content div#goods div#cont_menu ul.cont_menu li{
display: inline-block;
height: 32px;
font-weight: bold;
font-size: 15px;
border-radius: 3px;
position: relative;
margin-right: 19px;
}
div#content div#goods div#cont_menu ul.cont_menu li:last-child{
margin-right: 0;
}
div#content div#goods div#cont_menu ul.cont_menu li span{
padding: 7px 0 0 1px;
display: block;
color: #000;
min-height: 37px;
font-weight: bold;
font-size: 15px;
}
div#content div#goods div#cont_menu ul.cont_menu li a{
padding: 7px 0 0 1px;
color: #000;
min-height: 37px;
display: block;
}
div#content div#goods div#cont_menu ul.cont_menu li div.snow{
position: absolute;
width: 185px;
height: 50px;
z-index: 55;
top:49px
}
div#content div#goods div#cont_menu ul.cont_menu li div#snow0{
background: url("../../../img/snow1.png") no-repeat;
}
div#content div#goods div#cont_menu ul.cont_menu li div#snow1{
background: url("../../../img/snow2.png") no-repeat;
}
div#content div#goods div#cont_menu ul.cont_menu li div#snow2{
background: url("../../../img/snow3.png") no-repeat;
}
div#content div#goods div#cont_menu ul.cont_menu li div#snow3{
background: url("../../../img/snow4.png") no-repeat;
}
div#footer{
background: url("../../../img/footer.jpg") repeat-x;
overflow: hidden;
width: 1014px;
height: 479px;
margin: 0 auto;
border-radius: 3px 3px 0 0;
}
div#footer div#mainFooter{
width: 1014px;
margin: 0 auto;
padding-top: 48px;
padding-left: 36px;
overflow: hidden;
}
div#footer div#mainFooter div#left{
width: 252px;
overflow: hidden;
margin-left: 15px;
float:left;
}
div#footer div#mainFooter div#mid{
float: left;
width: 430px;
overflow: hidden;
margin-top: 19px;
}
div#footer div#mainFooter div#mid span#addressFooter{
color: #FFF;
font-size: 13px;
display: block;
margin: 0 0 0 100px;
}
div#footer div#mainFooter div#right{
float:right;
overflow: hidden;
margin-right: 79px;
}
div#footer div#mainFooter div#left span{
display: block;
margin-left: 7px;
}
div#footer div#mainFooter div#left span.modFooter{
color: #909090;
font-size: 16px;
}
div#footer div#mainFooter div#left span#phoneFooter{
color: #FFF;
font-size: 28px;
font-weight: bold;
}
div#footer div#mainFooter div#left span#emailFooter{
color: #FFF;
font-size: 18px;
}
ul.list {
	margin-top: 47px;
}
ul.list li:nth-child(2n){
	margin-left: 27px;
}
div.listitem span.name_order{
font-size: 14px;
color: #BF352C;
}
div.listitem span.old{
font-size: 13px;
color: #000;
}
div.listitem div.prop{
font-size: 14px;
margin-top: 16px;
color: #616161;
}
hr.list {
color: #C9C9C9;
margin-top: 44px;
}
div#right_colum {
float: right;
}
form.smartfilter {
margin: 5px 0 0 0;
}
div#head_filter {
width: 193px;
margin: 5px 0 0 0;
text-align: center;
border-radius: 3px;
position: relative;
z-index: 2;
}
div#head_filter span{
color: #720C1A;
display: table-cell;
font-size: 16px;
font-weight: bold;
position: relative;
text-align: center;
vertical-align: middle;
z-index: 4;
}
div#head_filter img{
position: absolute;
z-index: 3;
top: -9px;
left: -10px;
}
div.filtren span {
color: #1B1F2C;
font-size: 14px;
margin-bottom: 7px;
margin-top: 7px;
}
div.filtren label {
color: #616161;
font-size: 13px;
margin-left: 7px;
}
div.catf > ul {
margin: 8px 15px 15px;
}
div.filtren input.button_filter {
border-radius: 3px 4px 6px 5px;
width: auto;
display: block;
margin: 0 0 15px 15px;
background: url("../../../img/button_filtre.jpg") no-repeat;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
color: #FFF;
border: 0;
padding: 8px;
font-size: 12.83px;
font-weight: bold;
}
div#recommend_images {
margin-top: 18px;
}
div#recommend_images div.img_recommend_product {
float: left;
min-height: 71px;
}
div#recommend_images div.img_recommend_product img {
margin: 5px 15px 5px 5px;
}
div#recommend_images hr {
clear: left;
color: #585858;
}
div.info_recommend_product {
display: block;
font-size: 11px;
color: #292929;
}
div.info_recommend_product span {
display: block;
font-size: 11px;
color: #292929;
}
div.info_recommend_product span.recommend_name {

}
div.info_recommend_product span.recommend_cost {
font-size: 14px;
color: #5F5F5F;
text-decoration: line-through;
}
div.info_recommend_product span.recommend_new_cost {
font-size: 18px;
color: #C1372D;
font-weight: bold;
}
div.detail_head {

}
div.detail_head span {
display: block;
}
div.detail_head span.detail_head_name {
float: left;
color: #292929;
font-size: 26px;
font-weight: bold;
}
div.detail_head span.detail_head_all{
padding-top: 7px;
}
div.detail_head span.detail_head_all a{
float: right;
color: #C1372D;
font-size: 18px;
}
div.detail_head hr {
clear: left;
color: #585858;
margin-bottom: 29px;
}
div.detail_head span.detail_head_manufacturer{
margin-bottom: 5px;
}
div.detail_head span.detail_head_manufacturer a{
color: #5A6379;
font-size: 15x;
}
div.detail_block_cost{
width: 380px;
height: 92px;
background: url("../../../img/detail_but.jpg") no-repeat;
vertical-align: middle;
display: table-cell;
border-radius: 3px;
}
div.detail_block_cost a{
border-radius: 16px;
background: url("../../../img/bt4.jpg") no-repeat 0 center;
vertical-align: middle;
text-align: center;
display: table-cell;
position: relative;
width: 130px;
color: #FFF;
font-size: 18px;
text-decoration: none;
font-weight: bold;
height: 57px;
}
div.detail_block_cost div.detail_cost{
float: left;
font-weight: bold;
width: 229px;
text-align: center;
color: #292929;
font-size: 48px;
}
div.detail_block_cost div.detail_cost span.valute{
font-weight: normal;
font-size: 18px;
}
table.table_list {
height: 180px;
}
div.detail_prop {
width: 75%;
}
table#detail_tab le {
width: 782px;
}
table#detail_table td {
width: 1%;
border-radius: 3px 8px 8px 3px;
color: #FFF;
font-size: 14px;
font-weight: bold;
vertical-align: middle;
margin-right: 2px;
text-align: center;
cursor: pointer;
height: 41px;
background: url("../../../img/table.jpg") no-repeat;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
}
table#detail_table td.active {
background: url("../../../img/tabled.jpg") no-repeat;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
}
div.detail_table {
display: none;
}
div.active {
display: block;
}
div.R2D2 {
margin-bottom: 137px;
}
div#zvonok {
border-radius: 11px 5px 7px 15px;
background: url("../../../img/zvonok.jpg") no-repeat 6px 0;
width: 203px;
height: 39px;
cursor: pointer;
vertical-align: middle;
text-align: center;
display: table-cell;
color: #FFF;
font-size: 18px;
font-weight: bold;
}
div#foto img{
margin-top: 15px;
}
div#foto img:nth-child(n+2){
margin-left: 26px;
}
table#footer_table span {
color: #FFF;
font-size: 14px;
font-family: Narrow;
}
table#footer_table ul  {
margin-top: 30px;
margin-bottom: 30px;
}
table#footer_table ul li a {
color: #B1B7C7;
font-size: 12px;
}
table#footer_table td {
width: 236px;
padding-left: 41px;
}

table#footer_table ul li, div#popup ul li
    {
        padding-bottom: 5px;
        behavior: expression(
            ( !this.before && parentNode && parentNode.tagName == 'UL' )
            ?
                ( this.before = true )
                & ( parentNode.style.listStyleImage = 'none' )
                & (
                    ( this.firstChild && this.firstChild.firstChild )
                    ?
                        ( this.firstChild.style.marginTop = '-1.2em' )
                        & ( this.firstChild.style.position = 'relative' )
                    : ''
                )
                & ( eNOBR = document.createElement( '<nobr style="position: relative; display: block; width: 1.25em; left: -1.25em; margin: 0 -1.25em -1.2em 0;" />' ) )
                & ( eNOBR.innerHTML = '— ' )
                & ( this.insertBefore( eNOBR, this.firstChild ) )
            : ''
        );
    }
table#footer_table  ul>li:before, div#popup ul>li:before
    {
        content: '>';
color: #B1B7C7;
        float: left;
        margin-left: -1.25em;
    }
div#popup span{
display: block !important;
padding-left: 0 !important;
}
div#popup ul{
display: block !important;
}
div#popup ul li {
padding: 0 !important;
margin: 0 !important;
display: block !important;
background: none !important;
}
div#popup ul li a{
padding: 0 !important;
margin: 0 !important;
font-size: 13px;
text-decoration: underline !important;
display: inline !important;
}
div#popup a{
text-decoration: underline !important;
font-size: 16px !important;
display: block !important;
padding: 0 !important;
}
div#popup div#rev_q{
margin-top: 30px !important;
}
div#popup td#one{
border-right: 1px solid #394153;
}
div#popup td#two{
padding-left: 100px !important;
}